* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  // font-family: "Open Sans", sans-serif;
  font-family: "Merriweather", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  // text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.3rem;
  padding: 5px;
}

h1 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: left;
}

// h2 {
//   font-weight: 500;
//   padding: 10px;
// }

h2 {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
}

h3 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h4 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding: 10px;
  font-size: small;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2rem;
  margin-bottom: 15px;
}

.container-3 {
  margin-top: 15px;

  a {
    margin: 10px;
    text-decoration: none;
    color: black;
    color: #ffffff;
    text-decoration: underline;
    // font-weight: 600;
    background-color: #efdac7;
    // background-color: #e1b19b;
    // background-color: #e1b19b;
    background-color: black;
    font-size: 0.7rem;
    height: 40px;
    border-radius: 25px;
    padding: 8px 25px;
    box-sizing: border-box;
    line-height: 2rem;
  }
}

.header {
  min-height: 20vh;
  max-width: 100%;
  background-color: #e5ccc9;
  background-color: #99755c;
  background-color: #e1b19b;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;

  h1,
  h2,
  h3,
  p {
    padding: 20px;
  }

  a {
    padding: 15px 30px 15px 0;
    font-size: 1.5rem;
    color: black;
  }

  .icons {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  h3 {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.project {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  border-block-end: 1px solid transparent;
  border-block-end-color: #3b3b3b;

  .container-left {
    display: flex;
    flex-direction: column;
  }

  img {
    max-height: 100%;
    max-width: 50%;
    opacity: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  img:hover {
    opacity: 100%;
  }
}

@media screen and (min-width: 860px) {
  .project {
    height: 300px;
    width: 80vw;
    text-align: left;
    flex-direction: row;

    .container-left {
      max-width: 30%;
      justify-content: space-between;

      .name {
        // overflow: visible;
        width: 300%;
        z-index: 100;
        text-decoration: underline;
      }

      .three {
        overflow: visible;
        width: 200%;
        z-index: 100;
      }
    }

    .container-2 {
      width: 50%;
      align-content: center;

      img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        // overflow: hidden;
        // margin-left: auto;
        // margin-right: auto;
        // border-radius: 0;
      }
    }

    h2,
    p,
    h4 {
      padding-left: 0;
      margin: 0;
    }

    h2 {
      font-size: 1.7rem;
    }

    .container-3 {
      width: 20%;
      text-align: right;
      align-self: flex-end;
    }
  }
}
